.navName {
  font-size: 70px;
  font-weight: bolder;
  color: rgb(228, 5, 16);
  font-family: 'Permanent Marker', cursive;
  margin-top: 80px;
  margin-left: 25px;
  transform: rotate(345deg);
}

.img-main {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.book{
  margin-left: 1300px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  width: 250px;
  margin-top: -50px;
  color: rgb(228, 5, 16);
}

i{
  margin-left: 1350px;

}

h1{
  color: rgb(228, 5, 16);
  font-family: 'Permanent Marker', cursive;
}

.book-mobile{
  margin-left: 1300px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  width: 250px;
  margin-top: -50px;
  color: rgb(228, 5, 16);
}

.medium{
  margin-left: 1350px;
}

@media only screen and (max-width: 1200px) {
  .img-main{
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }

  .navName{
    width: 100%;
    margin-top: 10px;
    font-size: 40px;
  }

  .book{
    display: none;
  }

  i{
    display: none;
  }

  .parallax{
    
    margin-left: -300px;

  }
  h1{
    font-size: 30px;
  }
  
}

@media only screen and (min-width: 1200px) {
  .book-mobile{
    display: none;
  }

  .medium{
    display: none;
  }

}